.header-logo    
    width 6rem
    height 6rem
    background-repeat no-repeat
    background-size cover
    background-position unset
    display inline-block
    left 0
    cursor pointer

header
    &.header
        display: grid
        grid-template-columns: 10% auto 10%
        margin: .5rem 0 1rem 0
        transition: box-shadow .25s
        border-radius: 2px
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
        padding: 20px
        div:not(:first-child)
            display: inline-block
            padding-left: 10px


.hero.is-info
    .hero-body.is-little
        padding 1rem 1.5rem
        text-align: center