$color-1 = #6c7231

.select-wrapper
    position relative
    width 300px
    margin 20px 0
    border 1px solid $color-1
    border-radius 3px

    &:hover
        box-shadow 0px 0px 3px gray

    select
        width 300px
        height 28px
        padding 0 20px 0 7px
        background transparent
        border 0
        appearance none

    select::-ms-expand
        display none
