html 
    line-height 1.5
    font-family "Roboto", sans-serif
    font-weight normal
    color rgba(0,0,0,0.87)

@media only screen and (min-width: 0px)
    html
        font-size 14px

@media only screen and (min-width: 992px)
    html
        font-size 14.5px

@media only screen and (min-width: 1200px)
    html
        font-size 15px

.header-logo    
    width 4rem
    height 4rem
    background-repeat no-repeat
    background-size cover
    background-position unset
    display inline-block
    left 0
    cursor pointer